<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <div class="container">
    <a href="/">Back</a>
    
    <% if (users.length > 0) { %>
    <h1>Users List</h1>
    <ul class="list-group">
      <% for (user of users) { %>
        <li class="list-group-item"><%= user.name %></li>
      <% } %>
    </ul>
    <% } else { %>
      <h2>No users added yet!</h2>
    <% } %>
  </div>
</body>
</html>
